<template>
    <section class="hero is-fullheight">
    <div class="row align-items-center" style="min-height: 100vh;">
      <div class="col-md pessoa">
        <h1>Traduções feitas por  
        <br>Translations made by
        <br>Traducciones hechas por</h1> 
        <div class="box-image">
            <img src="../assets/member-1.jpg" width="450px">
            <div class="overlay">
                <i class="fab fa-facebook-square fa-2x"></i> <br>
                <i class="fab fa-linkedin fa-2x"></i>
            </div>
            <h3> Marina Fodra <br> <small> Tradutora / Translator / traductora </small> </h3>
            <p> Lorem ipsum Do dolor commodo occaecat sit pariatur nisi sit laboris officia exercitation officia laboris ex ullamco nulla do in elit.</p>
        </div>
      </div>
      <div class="col-md">
        <h1>
          Sobre a empresa
        </h1>
        <h2>
          A Context Translations oferece traduções padrão e de alta complexidade, além de interpretação simultânea presencial e remota. Também oferecemos legendagens e transcrições de arquivos de áudio. Nossa área de atuação é ampla: a Context Translations trabalha em esquema de gerenciamento de parcerias com tradutores e intérpretes em todo o país e no exterior.
        </h2>
        <h1>
          About Us
        </h1>
        <h2>
          Context Translations provides standard as well as high-complexity translations, and both on-site and remote interpreting. It also provides subtitling and audio transcriptions. We work with broad areas of expertise. Context Translations works by managing partnerships made with translators and interpreters nationwide and internationally. 
        </h2>
        <h1>
          Quiénes somos
        </h1>
        <h2>
          Context Translations es una compañía que ofrece servicios de traducción de textos simples y degran complejidad, además de interpretación simultánea presencial y remota. También ofrecemos subtitulado y transcripción de archivos de audio. Actuando en diferentes áreas del conocimiento, Context Translations trabaja con una red de traductores e intérpretes colaboradores localizados en Brasil y en el exterior.
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.pessoa {
    text-align: center;
}

small {
    font-size:0.5em
}

.box-image:hover .overlay {
 opacity: 1;
}

.col-md {
    padding: 0em 5em;
}

section {
    background-color: #172e3e;
    color: #d7ffa8;
    font-family: Montserrat-Light;
    padding: 0em 5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: bold;
    color: #d7ffa8;
    padding: 0.5em 0em;
}

h2 {
    color: #ffffff;
    font-size: 1.2em;
          -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h3 {
    font-weight: bold;
    padding: 0.5em 0em;
}

.overlay {
    position: absolute;
    top: 13em;
    bottom: 0;
    left: -24em;
    right: 0;
    opacity: 0;
    transition: .3s ease;
}

</style>
