<template>
    <div class="carrosel">
        <div class="d-flex justify-content-start"
            v-on:click="show_slide()">
            <div v-if="position > 0 && position < 2" class="slide animate">
                Slide 1
            </div>
            <div v-if="position > 0 && position < 3" class="slide animate">
                Slide 2
            </div>
            <div v-if="position > 1 && position < 4" class="slide animate">
                Slide 3
            </div>
            <div v-if="position > 2 && position < 5" class="slide animate">
                Slide 4
            </div>
            <div v-if="position > 3 && position < 6" class="slide animate">
                Slide 5
            </div>
            <div v-if="position > 4 && position < 6" class="slide animate">
                Slide 6
            </div>
        </div>
        <div v-on:click="next_slide()"> next </div>
        <div v-on:click="prev_slide()"> prev </div>
    </div>
</template>


<script>

import 'bootstrap/dist/css/bootstrap.css'

export default {
    data: function () {
        return {
            position: 1,
            max_slides: 6,
        }
    },
    methods: {
        show_slide: function (n) {
            this.position = n;
            if (this.position >= this.max_slides){
                this.position = 1;
            } else if (this.position < 1) {
                this.position = this.max_slides-1;
            }
        },
        next_slide:  function() {
            this.position = this.position + 1;
            this.show_slide(this.position);
        },
        prev_slide:  function() {
            this.position = this.position -1;
            this.show_slide(this.position);
        },

    },
}
</script>

<style scoped>

.carrosel {

}

.slide{
    margin: 10px 20px;
}

.animate {
  position: absolute;
  left: 100px;
  animation: move 3s ease infinite;
}


</style>
