<template>
<section class="hero is-fullheight intro-page">
    <div class="hero-body">
        <div class=" has-text-centered">
            <h1>
                <img src="../assets/logo_verde.png" width="800px">
            </h1>
            <h2>
                A Context Translations oferece traduções padrão e de alta complexidade, além de interpretação simultânea presencial e remota. Também oferecemos legendagens e transcrições de arquivos de áudio.
            </h2>
        </div>
    </div>
</section>
</template>

<script>
export default {
    
}
</script>


<style scoped>

section {
    background-color: #35586b;
    padding: 2em 8em;
}

section h2 {
    color: #d7ffa8;
    font-family: Montserrat-Light;
    text-align: justify;
    padding-top: 2em;
}

</style>
