<template>
<div>
    <div class="row align-items-center lateral-bar" style="min-height: 100vh;" >
        <ul style="text-align: center;">
            <li>
                <img src="../assets/icon.png" width="60px">
                <br>
                <span>Home</span>
            </li>
            <li>
                <i class="fas fa-archway fa-2x"></i>  
                <br>
                <span>AboutUs</span>
            </li>
            <li>
                <i class="fas fa-assistive-listening-systems fa-2x"></i>
                <br>
                <span>Interpreting</span>
            </li>
            <li>
                <i class="far fa-comment-dots fa-2x"></i>
                <br>
                <span>Transalations</span>
            </li>
            <li>
                <i class="fas fa-award fa-2x"></i>
                <br>
                <span>Quality</span>
            </li>
            <li>
                <i class="fas fa-envelope fa-2x"></i>
                <br>
                <span>ContactUs</span>
            </li>    
        </ul> 
    </div>
    <div class="icon-down">
        <i class="fas fa-chevron-down fa-2x"></i>
    </div>
</div>
</template>

<script>
export default {
    
}

</script>

<style scoped>

.lateral-bar {
    position: fixed;
    right: 2em;
}

.icon-down {
    position: fixed;
    right: 3em; 
    bottom:2em;
    
}

li {
    padding: 1em 0em;
    color: #d7ffa8;
}
</style>
