<template>
    <section class="hero is-primary is-fullheight">
        <div class="row" >
    <div class="row align-items-center" style="min-height: 50vh;" >
      <div class="col-lg">
        <!-- português -->
        <h1>
          Traduções
        </h1>
        <h4>Tradução científica, tradução técnica e tradução literária.</h4>
        <div id="carrosel-portugues" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carrosel-portugues" data-slide-to="0" class="active"></li>
            <li data-target="#carrosel-portugues" data-slide-to="1"></li>
            <li data-target="#carrosel-portugues" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <!-- primeiro slide -->
            <div class="carousel-item active">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3> Dentro do Orçamento / Baixo Risco </h3>
                <p>Se você só precisa entender o que está escrito, esta é a escolha certa: rápida e direta.</p>
              </div>
            </div>

            <!-- segundo slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Trabalho Crítico / Alto Risco</h3>
                <p>A melhor escolha para situações críticas. Revisão final por tradutores nativos e experientes.</p>
              </div>
            </div>

            <!-- terceiro slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Revisão para seguir tranquilo</h3>
                <p>Está bom, mas não tão bom assim? Nós ajudamos.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg">
        <!-- inglês -->
        <h1>
          Translations
        </h1>
        <h4> Scientific translations, technical translations and literary translations.</h4>
        <div id="carrosel-ingles" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carrosel-ingles" data-slide-to="0" class="active"></li>
            <li data-target="#carrosel-ingles" data-slide-to="1"></li>
            <li data-target="#carrosel-ingles" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <!-- primeiro slide -->
            <div class="carousel-item active">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Budget Business / Low-risk</h3>
                <p>If all you need is what it says, this is the choice for you: fast and straightforward.</p>
              </div>
            </div>

            <!-- segundo slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Business Critical / High-risk </h3>
                <p>Safe choice for critical situations. Proofread by experienced native translators.</p>
              </div>
            </div>

            <!-- terceiro slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Proofread for peace of mind </h3>
                <p>Good, but not that good? Let us help.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg">
        <!-- espanhol -->
        <h1>
            Traducciones
        </h1>
        <h4>Traducción científica, Traducción técnica y traducción literaria.</h4>
        <div id="carrosel-espanhol" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carrosel-espanhol" data-slide-to="0" class="active"></li>
            <li data-target="#carrosel-espanhol" data-slide-to="1"></li>
            <li data-target="#carrosel-espanhol" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">

            <!-- primeiro slide -->
            <div class="carousel-item active">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Dentro del Presupuesto / Bajo Riesgo</h3>
                <p>Si usted solo necesita entender lo que está escrito, ésta es la mejor opción: rápida y directa.</p>
              </div>
            </div>

            <!-- segundo slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Trabajo Crítico / Alto Riesgo</h3>
                <p>La mejor elección para situaciones críticas. La revisión final es hecha por traductores nativos experimentados.</p>
              </div>
            </div>

            <!-- terceiro slide -->
            <div class="carousel-item">
              <div class="slide-content">
                <span> 
                  <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                </span>
                <h3>Revisión para quedarse tranquilo</h3>
                <p>¿Está bien, pero quizás no tan bien así? Podemos ayudarlo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center" style="min-height: 50vh;" >
      <div class="col-lg">
        <h1 >Revisão Científica Crítica</h1>
        <h3> Pode incluir os seguintes itens: </h3>
        <ul>
          <li>
              Reorganização estrutural para clareza, fluxo lógico e ênfase de argumentos;
          </li>
          <li>
              Adequação de figuras, tabelas e material suplementar;
          </li>
          <li>
              Lembretes sobre detalhes ausentes, ou descrições desnecessariamente longas;
          </li>
          <li>
              Adaptação do texto de acordo com o periódico-alvo;
          </li>
          <li>
            Sugestões de título, resumo e carta de apresentação;
          </li>
          <li>
            Carta-resposta do autor para os revisores; 
          </li>
          <li>
            Revisão final por falantes nativos experientes; 
          </li>
        </ul>
      </div>
      <div class="col-lg">
        <!-- Inglês-->
        <h1>Critical Scientific Proofreading</h1>
        <h3> May include the following: </h3>
        <ul>
          <li>
              Structural reorganization for clarity, logical flow, and emphasis of arguments;
          </li>
          <li>
              Refitting of pictures, tables, and supplementary material;
          </li>
          <li>
              Reminders about missing details and unnecessarily long descriptions;
          </li>
          <li>
              Adaptation to the target journal;
          </li>
          <li>
              Suggestions for title, abstract, and cover letter;
          </li>
          <li>
              Author’s response letter to the referees;
          </li>
          <li>
              Proofreading by experienced native speakers;
          </li>
        </ul>
      </div>
      <div class="col-lg">
        <!-- Espanhol-->
        <h1 >Revisión Científica Crítica</h1>
        <h3> Puede incluir los siguientes puntos:</h3>
        <ul>
          <li>
            Reorganización estructural para claridad, flujo lógico y énfasis de argumentos;
          </li>
          <li>
            Adecuación de figuras, tablas y material extra;
          </li>
          <li>
            Recordatorios sobre detalles faltantes o descripciones innecesariamente largas;
          </li>
          <li>
            Adaptación del texto según el periódico meta;
          </li>
          <li>
            Sugerencias de título, resumen y carta de presentación;
          </li>
          <li>
            Carta-respuesta del autor para los revisores;
          </li>
          <li>
            Revisión final hecha por hablantes nativos con experiencia;
          </li>
        </ul>
      </div>
    </div>
      </div>
  </section>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.col-lg {
    padding: 0em 3em;
    text-align: left;
}

section{
    padding: 0em 10em;
    hyphens: auto;
}

.slide-content {
    padding: 1em 0em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.5em;
    min-height: 3em;
}

p {
    height: 7em;
}

</style>

