<template>
  <div id="app">
    <navigation-menu></navigation-menu>
    <home></home>
    <about-us></about-us>
    <traduction></traduction>
  </div>
</template>

<script>

import NavigationMenu from './components/NavigationMenu.vue'
import Home from './components/Home.vue'
import AboutUs from './components/AboutUs.vue'
import Traduction from './components/Traduction.vue'

export default {
  name: 'app',
  components: {
    NavigationMenu,
    Home,
    AboutUs,
    Traduction
  }
}
</script>

<style>
#app {
  font-family: Montserrat-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  color: #d7ffa8;
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.otf);
}

</style>

